[submodule "ArkivGPT_Gateway"]
	path = ArkivGPT_Gateway
	url = git@github.com:kartAI/ArkivGPT_Gateway.git
[submodule "ArkivGPT_Frontend"]
	path = ArkivGPT_Frontend
	url = git@github.com:kartAI/ArkivGPT-Frontend.git
